#logo{
    max-width: 10%;
    height: auto;
}

#products-image{
    max-width: 10%;
    margin: 20px;
    float: left;
}

#services-image{
    max-width: 10%;
    margin: 20px;
    float:right;
}

#products-text{
    padding:10px;
}

#services-text{
    padding:10px;
}

#products{
    padding:10px;
}

#services{
    padding:10px;
}

#slides{
    max-width:50%;
    height:auto;
    margin: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}