/*
    Bruno Gazoni      7585037
    Bruno Baldissera  10724351
    Rafael Ceneme     9898610
*/
.container{
    width: 30%;
    margin: auto;
}

#quadro{
    padding-left: 20%;
}

#foto-admin{
    max-width: 17%;
    margin: 10px;
    border-radius: 5%;
    margin-left: 50px;
    margin-left: 8%;
}

#stock{
    width: 90px;
}

#price{
    width: 90px;
}
