.field{
    color: blue;
    text-align: left;
}

#slides{
    max-width:50%;
    margin: 20px;
}

#container-products{
    margin-bottom:80px;
}

.carousel { overflow: hidden; }
.carousel-item { overflow: hidden; }