/*
    Bruno Gazoni      7585037
    Bruno Baldissera  10724351
    Rafael Ceneme     9898610
*/
.row-cards{
	margin: auto;
	width: 65%;
}
	
#navbar {
	padding-bottom: 0;
	margin-bottom: 0;
}

.jumbotron {
	padding-top: 15px;
	padding-bottom: 20px;
}