/*
    Bruno Gazoni      7585037
    Bruno Baldissera  10724351
    Rafael Ceneme     9898610
*/
#foto-admin{
    max-width: 30%;
    margin: 40px;
    margin-right:10%;
    float: left;
    border-radius: 5%;
}

.field{
    color: blue;
    text-align: left;
}

.jumbotron {
	padding-top: 15px;
	padding-bottom: 20px;
}