.color1 {
	background-color: #53ac7e;
}

.color2 {
	background-color: #74be97;
}

.color3 {
	background-color: #96cfb1;
}

.color4 {
	background-color: #b9dfcb;
}

.color5 {
	background-color: #dcefe5;
}

.textColor1{
	color: #131313;
}

.textColor2{
	color: #464646;
}