.color1 {
	background-color: #53ac7e;
}

.color2 {
	background-color: #74be97;
}

.color3 {
	background-color: #96cfb1;
}

.color4 {
	background-color: #b9dfcb;
}

.color5 {
	background-color: #dcefe5;
}

.textColor1{
	color: #131313;
}

.textColor2{
	color: #464646;
}

.textColor3 {
	color: #8e3e45;
}

#navbar{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#navbar > div {
	background-color: rgba(83, 172, 126, 0.9);
}

#logo{
	border-radius: 50%;
	max-width: 8%;
}

#footerrow{
	margin-left: 30%;
	margin-right: 30%;
}

.page-footer > div {
	background-color: rgba(116,190,151, 0.9);
}

#footerrow a{
	text-decoration: none;
	color: #464646;
}