/*
    Bruno Gazoni      7585037
    Bruno Baldissera  10724351
    Rafael Ceneme     9898610
*/
.body, h1, h3, p{
	min-width: 320px;
	font-family: "Trebuchet MS", Helvetica, sans-serif!important; 
}

#petshop-name {
	font-family: 'Lemon';
}

.color1 {
	background-color: #53ac7e;
}

.color2 {
	background-color: #74be97;
}

.color3 {
	background-color: #96cfb1;
}

.color4 {
	background-color: #b9dfcb;
}

.color5 {
	background-color: #dcefe5;
}

.textColor1{
	color: #131313;
}

.textColor2{
	color: #464646;
}

.textColor3 {
	color: #8e3e45;
}

#navbar{
	padding: 0px;
}

.btn {
	border-style: none;
	background-color: #74be97;  
}

#navbar > div {
	background-color: rgba(83, 172, 126, 0.95);
}

#logo{
	min-width: 40px;      
   	width: auto !important;          

	border-radius: 50%;
	max-width: 5.5%;
}

#footerrow{
	margin-left: 30%;
	margin-right: 30%;
}

#footerrow a{
	text-decoration: none;
	color: #464646;
}